/* Write your CSS here */
.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #161625;
  overflow: scroll;
}

.bg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  background-color: #161625;
}

.logo-cont {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.logo-img {
  width: 25px;
  height: 25px;
}

.logo-title {
  color: #2cc6c6;
}

.title {
  color: #ffffff;
}

